@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}

header {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



h1 {
    font-size: 48px;
    color: #243E63;

}

h2 {
    color: #243E63;
    font-size: 36px;
}

div {
    display: block;
}

figure {
    display: flex;
}

nav {
    margin: 16px 16px 0 16px;
    display: flex;
    justify-content: center;
}

header {
    height: calc(100vh - 400px);
    margin-bottom: 128px;
}

#heading {
    max-width: 100%;
    background-color: blue;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.about__background {
    background-color: lightgray;
    padding: 64px;
}

.red {
    color: rgb(180, 60, 60);
}




/* LANDING PAGE */


.nav__links {
    display: flex;
    display: inline-block;
    font-size: 24px;
}

.logo__img {
    height: 75px;
    width: 75px;
    margin: 0px 48px;
    z-index: -1;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(85, 68, 85);
}

.hover-underline-animation:after {

    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.header__wrapper {
    width: 100%;
    max-width: 720px;
    margin: 96px auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.header__description {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    margin: auto;
}

.header__img--wrapper {
    justify-content: center;
    text-align: center;
  
}

.header__img {
    margin-top: 32px;
    width: 300px;
    height: 300px;
    z-index: -1;
}

.instagram__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

.shop__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom: 32px;
    left: 32px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

/* ABOUT US */

.container {
    display: flex;
    text-align: center;
    justify-content: center;


}

.about__title {
    font-size: 40px;
}

.title__spacing {
    letter-spacing: 2px;
    color: black;

}

.features {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;


}

.feature {
    display: flex;
    flex-wrap: wrap;
    width: calc(85%/3);
    margin-top: 32px;
    justify-content: center;
}


.feature__description {
    display: flex;
    flex-direction: column;
    display: block;
    width: 200px;
    line-height: 1.5;
    color: gray;
}



.feature__img {
    height: 90px;
    width: 90px;

    border-radius: 32px;
    border: 1px solid black;
    padding: 12px;
}

.feature__img--wrapper {

    align-items: center;
}



/* COLLECTION CONTAINER */

.collection__container {
    margin: 64px;


}

.collection__img {
    margin-top: 48px;
    width: 55%;
    justify-content: center;
    z-index: 0;
}


/* FOOTER */

footer {
    position: relative;
    background-color: lightgray;
   
    padding: 6%;
  }
  
  .footer__row {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  .footer__logo--img {
    width: 70px;
    filter: invert(1);
  
  }


  .footer__social--link,
  .footer__copyright {
      margin-top: 16px;
    color: black;
  }

  .footer__logo--popper {
    position: absolute;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: black;
  }
  

  
  .footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
  }
  


/* SHAPES */

.shape {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.shape--1 {
    top: 15vh;
    left: 7vw;
}

.shape--2 {
    top: 15vh;
    left: 88vw;
}

.shape--3 {
    top: 50vh;
    left: 7vw;
}

.shape--4 {
    top: 50vh;
    left: 88vw;
}

/*  SMALL TABLETS, PHONES */
@media (max-width: 535px) {

    .shape {
        width: 60px;
        height: 60px;
        
    }

    .nav__link {
        font-size: 18px;
        ;
    }

    .instagram__btn {
        right: 8px;
    }

    .shop__btn {
        left: 8px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__img {
        height: 250px;
        width: 250px;
    }

    .logo__img {
        margin: 0 4px;
       z-index: -1;
    }

    .collection__img {
        width: 95%;

    }



    .shape--1 {
        top: 12vh;
        left: 5vw;
    }

    .shape--2 {
        top: 12vh;
        left: 75vw;
    }

    .shape--3 {
        top: 50vh;
        left: 7vw;
    }

    .shape--4 {
        top: 50vh;
        left: 72vw;
    }



}

/* LARGE PHONES */
@media (max-width: 800px) {

    .feature {
        width: calc(70%);
        margin: 16px auto;
    }

    .feature__description {
        width: 100%;
    }

    .feature__img--wrapper {
        margin: auto;
    }

    .shape {
        width: 60px;
        height: 60px;
    
    }






}